In [ ]:
#W6A1
a = list(map(int, input().split()))
result = []
for i in a:
  num = int(i)
  if num not in result:
    result.append(num)
print(result)

1 2 2 3 1 4
[1, 2, 3, 4]

In [ ]:
#W6A2
nums = list(map(int, input().split()))
results = []
sum = 0
for x in nums:
  sum += x
  results.append(sum)
print(results)

1 2 3 4
[1, 3, 6, 10]

In [ ]:
#W6A3
tup = tuple(map(int, input().split()))
k = int(input())
n = len(tup)
k = k % n
result = tup[k:] + tup[:k]
print(result)

1 2 3 4 5
2
(3, 4, 5, 1, 2)

In [ ]:
#W6A4
nums = input().split()
result = {}
for items in nums:
  key, value = items.split(':')
  if key in result:
    result[key].append(value)
  else:
    result[key] = [value]
print(result)

a:1 b:2 c:3
{'a': ['1'], 'b': ['2'], 'c': ['3']}

In [ ]:
#W6A5
nums = list(map(int, input().split()))
result = {'positives': 0, 'negatives': 0, 'zeros': 0}
for n in nums:
  if n > 0:
    result['positives'] += 1
  elif n < 0:
    result['negatives'] += 1
  else:
    result['zeros'] += 1
print(result)

5
{'positives': 1, 'negatives': 0, 'zeros': 0}

In [ ]:
#W6A6
nums = list(map(int, input().split()))
ans = 0
for i in nums:
  ans += i
print(ans)

1 2 3 4
10

In [ ]:
#W6A7
tup = tuple(map(str, input().split()))
phan_tu_dau = tup[0]
phan_tu_cuoi = tup[-1]
tup_dao_nguoc = tup[::-1]
print(phan_tu_dau, phan_tu_cuoi, tup_dao_nguoc)

10 20
10 20 ('20', '10')

In [ ]:
#W6A8
list = list(map(str, input().split()))
dem = {}
for i in list:
  if i in dem:
    dem[i] += 1
  else:
    dem[i] = 1
print(dem)

apple banana apple
{'apple': 2, 'banana': 1}

In [ ]:
#W6A9
d1 = eval(input())
d2 = eval(input())
d = {}
for i in d1: d[i] = 0
for i in d2: d[i] = 0
for i in d1:
  d[i] += d1[i]
for i in d2:
  d[i] += d2[i]
print(d)

{'a': 1}
{'a': 2}
{'a': 3}

In [ ]:
#W6A10
a = list(map(int, input().split()))
k = int(input())
ans = []
for i in range(len(a)):
  for j in range(i + 1, len(a)):
    if a[i] + a[j] == k:
      ans.append((a[i], a[j]))
print(ans)

1 2 3 4 5
6
[(1, 5), (2, 4)]

In [ ]:
#W6A11
a = tuple(map(int, input().split()))
odd = []
even = []
for i in a:
  if i % 2 == 0:
    even.append(i)
  else:
    odd.append(i)
print(tuple(even))
print(tuple(odd))

0 -1 -2 -3 -4 5
(0, -2, -4)
(-1, -3, 5)

In [ ]:
#W6A12
a = list(map(str, input().split()))
a.sort()
d = {}
count = 0
for i in a:
  d[i] = 0
for i in a:
  d[i] += 1
  count = max(count, d[i])
for i in d:
  if d[i] == count:
    print(i)
    break

1 2 3 2 4 2 5
2

In [ ]:
#W6A13
a = list(map(str, input().split()))
d = {}
d_new = {}
for i in range(0, len(a), 2):
  d[a[i]] = a[i + 1]
for i in d:
  d_new[d[i]] = i
print(d_new)

a 1 b 2 c 3
{'1': 'a', '2': 'b', '3': 'c'}

In [ ]:
#W6A14
a = list(map(int, input().split()))
b = list(map(int, input().split()))
ans = []
for i in a:
  if i in b and i not in ans:
    ans.append(i)
print(ans)

1 2 3 4 4 5
4 5 6 7 5 8
[4, 5]

In [ ]:
#W6A15
a = list(map(str, input().split()))
k = int(input())
d = {}
for i in range(0, len(a), 2):
  if int(a[i + 1]) > k:
    d[a[i]] = int(a[i + 1])
print(d)

apple 10 banana 20 orange 15
5
{'apple': 10, 'banana': 20, 'orange': 15}

In [ ]:
#W6A16
n, m = map(int, input().split())
a = []
for i in range(n):
  row = list(map(int, input().split()))
  a.append(row)
for i in a:
  for j in i:
    print(f"{j:>4}", end = "")

2 3
4
4
   4   4

In [1]:

#W6A17
n=int(input())
a=[]
for i in range(n):
  row = list(map(int,input().split()))
  a.append(row)
print("Đường chéo chính: ")
for i in range(n):
  print(a[i][i],end=' ')
print()
print("Đường chéo phụ: ")
for i in range(n):
  print(a[i][n-1-i],end=" ")

3
1 2 3
4 5 6
7 8 9
Đường chéo chính:
1 5 9
Đường chéo phụ:
3 5 7

In [2]:
1

#W6A18
n,m,k=map(int,input().split())
a=[]
for i in range(n):
  row = list(map(int,input().split()))
  a.append(row)
tong_hangk=sum(a[k-1])
tong_cotk=0
for i in range(n):
  tong_cotk +=a[i][k-1]
print(tong_hangk,tong_cotk)

3 4 2
1 2 3 4
5 6 7 8
1 2 3 4
26 10

In [ ]:
#W6A19
a = list(map(int, input().split()))
pos = 1
for i in range(len(a)):
  if a[i] > a[pos - 1]:
    pos = i + 1
print(pos)

2 45 67 12 90 23
5

In [ ]:
#W6A20

def wev(n: list, k: int) -> int:
    for i, val in enumerate(n):
        if val == k:
            return i + 1
    return -1

a = list(map(int, input().split()))
k = int(input())
print(wev(a, k))

In [ ]:
#W6A21
a = input().split()

b = {}

for i, word in enumerate(a):
    c = b.setdefault(word, ())
    b[word] = c + (i,)

print(b)

In [3]:

#W6A22
m=list(map(int,input().split()))
print(m.index(max(m))+1)

34 25 67
3